* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  background: linear-gradient(0deg, #8d99ae 10%, rgba(245, 232, 248, 0.0470588235) 90%);
} /*-------  MAPAS  -----------*/
/*esta incluido en la pagina de _utilidades ;)*/
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #a3142c;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.114);
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #a3142c;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.334);
}

p {
  font-size: 1.2rem;
  font-weight: 600;
}

.cont_img_pr {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  margin-top: 5.7rem;
}

.cont_pr {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  color: #edf2f4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lista {
  display: flex;
}

.lista-a, .lista-p {
  text-decoration: none;
  color: #bdc6d1;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .cont_titulo_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
header .bg_oscuro {
  background-color: #2b2d42;
}
header .bg_oscuro .cont_links .links {
  text-transform: uppercase;
}
header .bg_oscuro .cont_links .links:hover {
  color: #e20029;
  text-decoration: underline;
  transition: all 500ms ease;
}
@media screen and (max-width: 450px) {
  header .nav_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
  header .nav_contenedor .logo {
    display: inline-block;
    margin: 0;
  }
}

body .footer {
  background-color: #2b2d42;
  color: #edf2f4;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
body .footer p {
  color: #edf2f4;
}

main .cont_carrusel .cont_frames {
  padding-top: 5.1rem;
  filter: grayscale(45%);
  -webkit-filter: grayscale(45%);
  -moz-filter: grayscale(45%);
}
main .card_main {
  font-size: 1.2rem;
  background-color: #edf2f4;
  border-color: #8d99ae;
}
main .cont_card_group {
  background-color: #8d99ae;
}
main .card_group {
  background-color: #edf2f4;
}

@media screen and (max-width: 450px) {
  .cont_frames {
    margin-top: 6vh;
  }
  .cont_frames .frames {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .card_main .cont_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .cont_imgpr_nosotros {
  background-image: url(https://th.bing.com/th/id/R.ed811a2196fe81ef116b118092441a01?rik=Id4qNwP7l8AJmw&riu=http%3a%2f%2fyilink-medical.com%2fcn%2fimages%2fpantner.jpg&ehk=PrpLhJ68h9nINapitwRsrXGC%2b6ARzsi34WKGw%2bZTyCw%3d&risl=&pid=ImgRaw&r=0);
}
main .cont_card_nosotros .titulo_card_nosotros {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  main .cont_card_nosotros {
    text-align: center;
  }
}

main .cont_imgpr_marcas {
  background-image: url(https://th.bing.com/th/id/R.ce3179c91c285c1c15dae57c894681aa?rik=aCt3kdAvaAdiNg&pid=ImgRaw&r=0);
}
main .card_marcas:hover {
  transition: all 400ms ease;
  background-color: rgba(82, 70, 70, 0.267);
  cursor: pointer;
}
main .card_marcas:hover h3 {
  color: #edf2f4;
  transition: all 400ms ease-out;
}

main .cont_imgpr_servicios {
  background-image: url(https://th.bing.com/th/id/R.c0bb46589ef49269669be82f04c206de?rik=Hmg%2fsFyckt6Wzg&riu=http%3a%2f%2ftalleresalvarezmotor.com%2fwp-content%2fuploads%2f2021%2f06%2fauto-repair-1024x682-1.jpg&ehk=%2bG3Nvl8eYZGCCMDr8SUzG224YgMqlZ5ISAo3vB7nTHk%3d&risl=&pid=ImgRaw&r=0);
}

main .cont_imgpr_contacto {
  background-image: url(https://th.bing.com/th/id/R.839c6cb93f6fa3f2d4212c8184e2a3fa?rik=1tTiAzw55n8Rfw&riu=http%3a%2f%2fcocinasintegralesgioserman.com%2fimages%2fcontactanos.jpg&ehk=vKTNLyWEz2fcTipKiD6H0tqO5tr8wAtZrB6w1C1IXDI%3d&risl=&pid=ImgRaw&r=0);
}
main .cont_form {
  background-color: #bdc6d1;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
  border: 3px solid #bdc6d1;
}
main .cont_boton {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cont_boton .botoncito {
  background-color: #8d99ae;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
main .cont_boton .botoncito:hover {
  background-color: #bdc6d1;
  transition: all 200ms ease;
}
main .cont_contact {
  display: flex;
  background-color: #bdc6d1;
  justify-content: space-evenly;
  border-radius: 5px;
}
main .cont_contact .cont_mapa {
  display: flex;
}
main .cont_contact .cont_mapa .mapa {
  border-radius: 5px;
}
main .cont_contact .info_contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .mapa {
    width: 265px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .cont_contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont_contact .info_contact {
    padding-top: 1rem;
  }
}
main .cont_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
main .cont_404 h1 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1rem;
}
main .cont_404 h2 {
  text-transform: uppercase;
  padding: 1rem;
}
main .cont_404 a {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #edf2f4;
  text-decoration: none;
  background-color: #2b2d42;
  border-radius: 10px;
  padding: 3px;
}
main .cont_404 a:hover {
  transition: all 300ms ease;
  background-color: #a3142c;
}
@media screen and (max-width: 600px) {
  main .img-404 {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
