main{
    .frames{
        padding-top: 5rem;
        filter: grayscale(45%);
        -webkit-filter: grayscale(45%);
        -moz-filter: grayscale(45%);
    }
    .card_main{
        font-size: 1.2rem;
        background-color: $body;
    }
    .card_group{
        background-color: $body;
    }
    .cont_card_group{
        background-color: $claro1;
    }
}




