.cont_imgpr_servicios{
    background-image: url(https://th.bing.com/th/id/R.c0bb46589ef49269669be82f04c206de?rik=Hmg%2fsFyckt6Wzg&riu=http%3a%2f%2ftalleresalvarezmotor.com%2fwp-content%2fuploads%2f2021%2f06%2fauto-repair-1024x682-1.jpg&ehk=%2bG3Nvl8eYZGCCMDr8SUzG224YgMqlZ5ISAo3vB7nTHk%3d&risl=&pid=ImgRaw&r=0);
}
